*.aux
*.bak
*.bbl
*.blg
*.dropbox
*.dvi
*.gcno
*.log
*.nav
*.o
*.obsolete
*.out
*.Rcheck
*.RData
*.Rhistory
*.Rproj.user
*.snm
*.so
*.swp
*.tar.gz
*.tgz
*.timings
*.tmp
*.toc
*.vrb
*.zip
*~
.Rproj.user
00check.log.txt
desktop.ini
inst/misc/*
nohup.out
R/ignore/*
symbols.rds
TAGS
test
tmp
valgrind*
x.log
_region*