*.gcno
TAGS
inst/misc/workshop*.org
inst/misc/mena.org
*.o
*.so
*~
test
*.RData
*.Rhistory
*.Rcheck
*.tar.gz
*.zip
*.tgz
*.obsolete
x.log
nohup.out
tmp
valgrind*
test
*.tmp
*.bbl
*.blg
*.bak
*.snm
*.aux
*.log
*~
*.out
*.swp
*.nav
*.toc
*.vrb
*.dvi
_region*
symbols.rds
*.Rproj.user
R/ignore/*

00check.log.txt
discord-Ex.pdf
*.timings
discord-Ex_i386.Rout
discord-Ex (1).pdf
discord-Ex_x64.Rout
*.dropbox
desktop.ini
.Rproj.user

inst/doc
